#main-cont {
    margin-top: 100px;
    margin-bottom: 100px;
    flex-grow: 1;
    max-height: 450px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

.hide {
    display: none!important;
}

.show {
    display: flex !important;
}
.App{
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}